@model TicketViewModel
@{
    ViewData["Title"] = "Create";
}

<h2 class="text-info">Create Tickets</h2>
<br />
<form asp-action="Create" method="post" enctype="multipart/form-data">
    @*nctype="multipart/form-data" باسخدمها لما بدي أرفع صور بأي فورم*@
    <div class="whiteBackground border">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="from-group row mt-3">
            <div class="col-2">
                <label asp-for="Ticket.PhoneNumber" class="col-form-label"></label>
            </div>
            <div class="col-5">
                <input asp-for="Ticket.PhoneNumber" class="form-control" />
                <span class="text-danger" asp-validation-for="Ticket.PhoneNumber"></span> @*To Required Field*@
            </div>
        </div>


        <div class="from-control row mt-3">
            <div class="col-2">
                <label asp-for="Ticket.CustomerName" class="col-form-label"></label>
            </div>
            <div class="col-5">
                <input asp-for="Ticket.CustomerName" class="form-control" />
                <span class="text-danger" asp-validation-for="Ticket.CustomerName"></span> @*To Required Field*@
            </div>
        </div>


        <div class="from-control row mt-3">
            <div class="col-2">
                <label asp-for="Ticket.CustomerId" class="col-form-label"></label>
            </div>
            <div class="col-5">
                <input asp-for="Ticket.CustomerId" class="form-control" />
                <span class="text-danger" asp-validation-for="Ticket.CustomerId"></span> @*To Required Field*@
            </div>
        </div>





        <div class="from-group row mt-3">
            <div class="col-2">
                <label asp-for="Ticket.Description" class="col-form-label"></label>
            </div>
            <div class="col-5">
                <textarea asp-for="Ticket.Description" class="form-control"></textarea>
                <span class="text-danger" asp-validation-for="Ticket.Description"></span> @*To Required Field*@
            </div>
        </div>


        <div class="from-group row mt-3">
            <div class="col-2">
                <label asp-for="ReplyUser" class="col-form-label"></label>
            </div>
            <div class="col-5">
                <input asp-for="ReplyUser" class="form-control" />
                <span class="text-danger" asp-validation-for="ReplyUser"></span>
            </div>
        </div>



        <div class="from-group row mt-3">
            <div class="col-2">
                <label asp-for="Ticket.CategoryId" class="col-form-label"></label>
            </div>
            <div class="col-5">
                <select id="ddlCategories" asp-for="Ticket.CategoryId" asp-items="@(new SelectList(Model.CategoriesList,"Id","Name"))" class="form-control"></select>
                <span class="text-danger" asp-validation-for="Ticket.CategoryId"></span> @*To Required Field*@
            </div>
        </div>


        <div class="from-group row mt-3">
            <div class="col-2">
                <label asp-for="Ticket.StatusId" class="col-form-label"></label>
            </div>
            <div class="col-5">
                <select asp-for="Ticket.StatusId" asp-items="@(new SelectList(Model.StatusList,"Id","Name"))" class="form-control"></select>
                <span class="text-danger" asp-validation-for="Ticket.StatusId"></span> @*To Required Field*@
            </div>
        </div>






        <div class="from-group row" style="padding-top:20px;">
            <div class="col-5 offset-2">
                <partial name="_CreateAndBackListButtonPartial" />
            </div>
        </div>
    </div>
</form>

