@model Category

@{

    ViewData["Index"] = "Create";
}

<h1>Create Category</h1>
<br />
<form asp-action="Create" method="post" >
    <div class="whiteBackground border">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="from-control row">
            <div class="col-2">
                <label asp-for="Name" class="col-form-label"></label>
            </div>
            <div class="col-5">
                <input asp-for="Name" class="form-control" />
                <span class="text-danger" asp-validation-for="Name"></span> @*To Required Field*@
            </div>
        </div>
            <div class="from-group row" style="padding-top:20px;">
                <div class="col-5 offset-2">
                    <partial name="_CreateAndBackListButtonPartial" />
                </div>
            </div>
        </div>
</form>

@section scripts{   @*عشان يصير الريكواير على مستوى الصفحة مش ع مستوى السيرفير يعني بمنع الريفريش*@
    <partial name="_ValidationScriptsPartial" />
 }
