@model Category

@{
    ViewData["Title"] = "Delete";
}

<h2 class="text-info">Delete Category</h2>
<form asp-action="Delete" method="post">
    <div class="whiteBackground border">
        @Html.HiddenFor(m => m.Id)

        <div class="from-control row">
            <div class="col-2">
                <label asp-for="Name" class="col-form-label"></label>
            </div>
            <div class="col-5">
                <input asp-for="Name" readonly class="form-control" />
                <span class="text-danger" asp-validation-for="Name"></span> @*To Required Field*@

            </div>
        </div>
        <div class="from-group row" style="padding-top:20px;">
            <div class="col-5 offset-2">
                <partial name="_DeleteAndBackListButtonPartial" />
            </div>
        </div>
    </div>
</form>
